.about-section {
  height: 70vh;
  // overflow: hidden;
  display: flex;
}

// .about-section {
//   height: 100%;
// }

.about-section__head {
  height: 20%;
  font-size: 40px;
  text-align: center;
  // margin-bottom: 2%;
  font-weight: 700;
}

.about-section__content {
  height: 100%;
} 