.booking {
  margin-bottom: 30px;
}

.booking__description {
  margin-bottom: 30px;
  font-size: 40px;
}

.booking__clients-head,
.booking__module-head {
  font-size: 30px;
  font-weight: 700;
  padding: 0 10%;
  text-align: center;
  margin-bottom: 2%;
}

.booking__clients-text,
.booking__module-text {
  font-weight: 600;
  margin-bottom: 2%;
  font-size: 20px;
}

.booking__buttons {
  display: flex;
  justify-content: center;
}