.btn {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background: rgb(240, 142, 14);
  text-transform: uppercase;
  color: #fff;
  min-width: 150px;
  text-decoration: none;
  text-align: center;
  &--enter {
    min-width: unset;
    width: 55px;
    padding: 2px;
  }

  &--about {
    margin-right: 20px;
    &:last-child {
      margin-right: none;
    }
  }
}