.hero {
  background-color: #fff;
  padding: 3%;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 1px, transparent 1px, transparent 6px), linear-gradient(to right, rgb(230, 232, 235) 0%, rgba(157, 161, 180, 0.603) 90%), center /cover url('../images/background/hero.jpg') no-repeat;
}