.hero {
  width: 100%;
  // height: 100vh;
  margin-bottom: 150px;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero__container-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.hero__content {
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}

.hero__content-text {
  display: block;
  font-size: 36px;
}