.management-section {
  padding: 30px 0;
}

// .management-section__content {
//   height: 70vh;
// }

.management-section__head {
  height: 10%;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}