.offer {
  height: 100vh;
}

.offer__columns {
  display: flex;
}

.offer__column-left,
.offer__column-right {
  flex: 0.5;
  padding: 5%;
}

.offer__column-left {
  border-right: 2px solid rgb(139, 128, 128);
}