.section-head {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000;
  text-transform: uppercase;

  &--feedback {
    text-align: center;
    margin-bottom: 20px;
    text-transform: none;
    font-size: 40px;

    @include tablets {
      margin-bottom: 150px;
    }

    @include phones {
      font-size: 25px;
      margin-bottom: 15px;

    }
  }

  &--partners {
    margin-bottom: 80px;
  }

  &--centered {
    text-align: center;
  }

}