.short-show__list {
  color: #333333;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 60px;
}

.short-show__item {
  display: flex;
}

.short-show__sign {
  width: 15%;
}

.short-show__desc {
  width: 70%;
}