section.booking
          .container
            .booking__module
              h3.section-head Модуль онлайн бронирования Novonline - мощный инструмент по увеличению продаж
              p.booking__module-text 
                |Как вы знаете, интернет играет важную роль в продажах. Вы должны давать гостям возможность быстро и легко совершить бронирование на сайте вашей компании, в социальных сетях. Клиенты склонны изучить цены и спецпредложения до контакта с компанией. Отсутствие актуальной информации на сайте может привести к потере клиента. Модуль Novonline очень эффективен для прямых продаж. Он предоставляет вашим клиентам понятный и простой интерфейс, который адаптируется под любое мобильное устройство. Бронировать технику теперь одно удовольствие! Благодаря статистики вы всегда сможете узнать уровень конверсии вашего модуля, т.е. процент превращения посетителей модуля в ваших клиентов.
            .booking__clients
              h3.booking__clients-head Вашим клиентам понравится
              p.booking__clients-text 
                |Novonline предлагает очень удобный инструмент для ваших клиентов. Он на 100% безопасен и защищен. Позволяет получать негарантированные или предоплаченные бронирования. Благодаря наличию модуля онлайн бронирования Novonline Ваши агенты, постоянные корпоративные клиенты и физические лица получают возможность бронировать Вас онлайн. 
                br
                br
                |А система быстрой регистрации позволяет автоматизировать работу с клиентами.
            .booking__buttons
              a(
                href="./index.html"
              ).btn.btn--booking 
                h3.btn__text на главную
              a(
                href="./feedback.html"
              ).btn 
                h3.btn__text попробовать