footer.footer
          .container
            ul.footer__columns
              - 
                var items= [ 
                  {
                      name: 'Novonline - rental software company',                      
                  },{
                      name: 'Санкт-Петербург',                      
                  },{
                      name: 'Cвязаться с нами',
                      link: 'https://third'
                  }
                ]
              each item in items                       
                li.footer__column
                  a.footer__column-content #{item.name}          