footer.footer
          .container
            ul.footer__columns
              - 
                var items= [ 
                  {
                      name: 'Novonline - rental software company',
                      pic: ''                
                  },{
                      name: 'Санкт-Петербург',
                      pic: 'spb'
                  },{
                      name: 'Cвязаться с нами',
                      link: 'https://third',
                      pic: ''
                  }
                ]
              each item in items                       
                li.footer__column                  
                  //- img(
                  //-   src="./spb.png"
                  //- )
                  a.footer__column-content #{item.name}          