header.header      
          .header__up-row
            .container.hero__container-row
              h2.header__slogan Лучшие решения для отрасли аренды техники!
              .logo
                a(
                  href="./index.html"
                ).logo__link
                  +image('content/logo.jpeg', 'logo__link-pic')
          .header__middle-row
            .container
              button.btn.btn--enter Войти
          .header__down-row
            .container 
              nav.nav
                ul.nav__list
                  - 
                    var items= [ 
                      {
                          name: 'о компании',
                          link: './about.html'
                      },{
                          name: 'вакансии',
                          link: './vacancy.html'
                      },{
                          name: 'контакты',
                          link: './feedback.html'
                      }
                    ]
                  each item in items                       
                    li.nav__item
                      a(href=`${item.link}`).nav__link #{item.name}