section.hero            
          .container
            .hero__content
              p.hero__content-text 
                |Услуга компании Новонлайн - <strong>Equipmanager</strong> - комплексное решение по повышению эффективности продаж строительной техники и оборудования.
                br
                br
                |Инновационное управление техникой и прибыльное онлайн бронирование позволяет добиться устойчивого роста продаж через интернет.

              //- <strong>Equipmanager</strong> - это административно-программный комплекс, разработанный для увеличения онлайн продаж, аренды строительной техники и оборудования. Инновационное онлайн бронирование увеличивает шанс продажи оборудования, а система управления позволяет управлять техникой в любой момент времени. 