include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Equipmanager - online booking engine, and movable managment system
    //- link(href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet")
  body
    .wrapper
      header.header
        .container
          .header__rows
            .header__top
              .logo
                +image('icons/logo.png', 'logo-pic')
              .header__desc
                h1.header__desc-head Модуль бронирования
                h3.header__desc-choice Выберите на какие даты вам нужна техника
            .header__bottom
              nav.nav
                ul.nav__list
                  - 
                    var navs= [ 
                      {
                          name: 'О компании',
                          icon: 'map',
                          placeholder: 'Ваш E-mail',
                          element: 'email'
                      },{
                          name: 'Контакты',
                          icon: 'service',
                          placeholder: 'Имя',
                          element: 'name'                     
                      },{
                          name: 'Вакансии',
                          icon: 'auth',
                          placeholder: 'Номер телефона',
                          element: 'tel'                     
                      },{
                          name: 'Авторизация',
                          icon: 'pay',
                          placeholder: 'Выберете желаемую услугу',
                          element: 'services'
                      }
                    ]
                  each nav in navs 
                    li.nav__item
                      a.nav__item-link
                        h3(
                          class=`nav__item-${nav.icon}`
                        ).nav__item-text #{nav.name}
      .container
        section.hero
          .hero__content
            h2.section-head.section-head--hero Добро пожаловать на сайт компании Новонлайн!
            .short-show
              ul.short-show__list
                li.short-show__item 
                  .short-show__sign
                    +icon('weare', '.short-show__pic')
                  .short-show__desc
                    p.short-show__desc Наша компания специализируется на web разработке {пользовательских} программных решений, управляющих большими объёмами данных, {для быстрого, простого и удобного управления пользователями.???!!!}
                li.short-show__item 
                  .short-show__sign
                    +icon('comerce', '.short-show__pic')
                  .short-show__desc
                    p.short-show__desc Мы предлагаем комплексное решение по повышению эффективности продаж строительной техники и оборудования.
                li.short-show__item 
                  .short-show__sign
                      +icon('client', '.short-show__pic')
                  .short-show__desc
                    p.short-show__desc Наши клиенты получают инновационный механизм управления техникой и {{прибыльное} онлайн бронирование} позволяет добиться устойчивого роста продаж через интернет.