include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Equipmanager - online booking engine, and movable managment system
    link(href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet")
  body
    .wrapper
      .maincontent
        include ./sections/header.pug
        section.plugins
          .plugins__head
          .plugins__content
            .products
              ul.products__list
                li.products__item
              .products__about
                p.products__about
                p.products__about
                p.products__about      
        include ./sections/footer.pug